@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }



.roomInfo-container{
    position: relative;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: "Josefin San", sans-serif;
    animation: fadeIn 1.5s ease forwards;
}

.cover-color{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgba(32, 43, 49, 0.6);
    height: 100%;
    width: 100%;
}



.roomInfo-container .room-info-txt{
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 15%;
    animation: fadeIn 2.2s ease forwards;

}


.roomInfo-container .room-info-txt h2{
    color: #d3b23a;
    font-size: 90px;
    font-weight: 400;
    word-spacing: 15px;
    letter-spacing: 5px;
    margin-bottom: 30px;
 
}

.roomInfo-container .room-info-txt h5{
    color: #d3b23a;
    font-size: 45px;
    font-weight: 400;
    word-spacing: 5px;
    letter-spacing: 5px;
    margin: 10px;
 
}


.roomInfo-container .room-info-txt p{
    color: white;
    font-size: 22px;
    font-weight: 400;
    word-spacing: 2px;
    letter-spacing: 2px;
    width: 40%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.roomInfo-container .room-info-txt button{
    color: white;
    background-color:#d3b23a;
    font-size: 22px;
    letter-spacing: 4px;
    padding: 20px 40px 20px 40px;
    border: none;
    border-radius: 12px;
    margin-top: 20px;
    letter-spacing: 4px;
    box-shadow: 0px 2px 5px 1px white;
}

.roomInfo-container .room-info-txt button:hover{
    background-color:#d3b23a80;
    transition: transform .1s ease-out, background-color .5s ease-out;
}

@media (max-width: 720px) { 
    .roomInfo-container .room-info-txt{
        top: 60;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    
    .roomInfo-container .room-info-txt h2{
        font-size: 65px;    
    }
    
    .roomInfo-container .room-info-txt p{
        color: white;
        font-size: 19px;
        font-weight: 400;
        word-spacing: 2px;
        letter-spacing: 2px;
        width: 60%;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    
    .roomInfo-container .room-info-txt button{
        color: white;
        background-color:#d3b23a;
        font-size: 22px;
        letter-spacing: 4px;
        padding: 20px 40px 20px 40px;
        border: none;
        border-radius: 12px;
        margin-top: 20px;
        letter-spacing: 4px;
        box-shadow: 0px 2px 5px 1px white;
    }
    
    .roomInfo-container .room-info-txt button:hover{
        background-color:#d3b23a80;
        transition: transform .1s ease-out, background-color .5s ease-out;
    }
}